@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #bf0603;
  --color-secondary: #52b788;

  --color-base-100: #edf2f4;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #bf0603;
  --color-secondary: #52b788;

  --color-base-100: #333333;
  --color-base-200: #000000;
  /* --color-base-100: #4a4a4a; */
  --color-base-content: #ffffff;
}

.active {
  @apply underline;
}
